@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap');

@media only screen and (min-width: 800px) {
    .grid-large {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .grid-small {
        grid-template-columns: 30% 70%;
    }

    .bio {
        margin: 0 100px;
    }
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    font-family: "Source Sans Pro";
}

button {
    cursor: pointer;
    border: 3px solid black;
    background: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover {
    background: black;
    color: white;
}

button:active {
    border-color:white;
    outline: 3px solid black;
}

*:focus-visible {
    outline: 3px dashed black;
}

*::selection {
    background: rgb(1, 0, 0);
    color: white;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.link:active {
    background: black;
    color: white;
    border-color: white;
    outline: 3px solid black;
}

.grid-large {
    display: grid;
}

.grid-small {
    display: grid;
    row-gap: 20px;
}

.grid-small > img {
    width: 100%;
    filter: brightness(0.9);
}

.grid-small > div {
    padding-left: 30px;
}

.grid-large > div {
    margin: 15px;
    position: relative;
    padding-bottom: 40px;
}

.grid-large > img {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.chooser {
    position: absolute;
    bottom: 0;
}

.logo {
    display: block;
    width: 90px;
    margin: 0 auto;
    padding: 0 4px;
}

.logo > img {
    width: 100%;
}

.logo:active {
    background: black;
}

.logo:active > img {
    filter: invert();
}

.bio {
    background: white;
    font-family: "Gaegu";
    font-size: 20px;
    padding: 0 20px;
    border: 3px solid black;
}

.footer {
    text-align: center;
}

.banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
}